extends layout

block content
    h1 Post App
    div
      div#content.content
        form.form-horizontal#postEvent(role='form' method='post')
            legend
                h1 Networking Event
                .form-group
                    label.control-label.col-sm-2(for="title") Title:
                    .col-sm-10
                        input.form-control(type='text' id="title" name="title" placeholder='Enter Event Title')
                .form-group
                    label.control-label.col-sm-2(for="description") Description:
                    .col-sm-10
                        input.form-control(type='textbox' id="description" name="description" placeholder='Description')
                .form-group
                    label.control-label.col-sm-2(for="location") Location:
                    .col-sm-10
                        input.form-control(type='text' id="location" name="location" placeholder='location')
                .form-group
                    label.control-label.col-sm-2(for="date") Date:
                    .col-sm-10
                        input.form-control(type='date' id="date" name="date" placeholder='date')
                .form-group
                    label.control-label.col-sm-2(for="time") Time:
                    .col-sm-10
                        input.form-control(type='time' id="time" name="time" placeholder='time')
                .form-group
                    button.btn.btn-primary(type='submit') Submit
      .jumbotron
          .container
              p Click the "Post" button to post, if you are logged in.
              .btn-group
                  button#test.btn.btn-primary(type="button") Post
                  button#logout.btn.btn-primary(type="button") Logout

    .well
        p#user
        form.form-horizontal#login(role='form' method='post')
            legend
                h1 Login
                .form-group
                    label.control-label.col-sm-2(for="username") Username:
                    .col-sm-10
                        input.form-control(type='text' id="username" name="username" placeholder='Enter Username')
                .form-group
                    label.control-label.col-sm-2(for="password") Password:
                    .col-sm-10
                        input.form-control(type='password' id="password" name="password" placeholder='Password')
                .form-group
                    button.btn.btn-primary(type='submit') Submit

                    a(href='/register')
                      button.btn.btn-default(type="button") Register

                p#error.error
    .posts
    script(id="post-template" type="text/x-handlebars-template")
      {{#each this}}
      div(class="post")
        ul
          li {{title}}
          li {{location}}
          li {{date}}
          li {{time}}
          li {{description}}
      {{/each}}
              
